[queue]
url = redis://localhost:6379/0

[mediacloud]
key = MY_API_KEY
media_id = 1
last_processed_stories_id = 0
stories_per_fetch = 100
place_tag_set_name = your-email@your.host.com

[cliff]
host = http://127.0.0.1
port = 8080
